params {

    reads = "$baseDir/data/*_R{1,2}_001.fastq"
    outdir = "results"

    adaptseq = ''
}

process {

    withName:bwa_index {
      container = 'quay.io/biocontainers/bwa:0.7.8--hed695b0_5'
    }
    withName:'fastqc{_raw, trim}' {
      container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }
    withName:trim_galore {
      container = 'quay.io/biocontainers/trim-galore:0.6.6--0'
    }
    withName:screen_fastq {
      container = 'quay.io/biocontainers/fastq-screen:0.13.0--pl526_1'
    }
    withName:bwa_map {
      container = 'quay.io/biocontainers/bwa:0.7.8--hed695b0_5'
    }
    withName:sam_view{
       container = 'quay.io/biocontainers/samtools:1.12--hd5e65b6_0'
    }
    withName:sam_sort {
      container = 'quay.io/biocontainers/samtools:1.12--hd5e65b6_0'
    }
    withName:bcftools_mpileup{
      container = 'quay.io/biocontainers/bcftools:1.12--h3f113a9_0'
    }
    withName:bcftools_call{
      container = 'quay.io/biocontainers/bcftools:1.12--h3f113a9_0'
    }
 
 }

singularity.enabled = true
singularity.cacheDir = "$HOME/cache/"
