process {

    withName: "bwa_.*" {
      container = 'quay.io/biocontainers/bwa:0.7.8--hed695b0_5'
    }
    withName: "fastqc_.*" {
      container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }
    withName:trim_galore {
      container = 'quay.io/biocontainers/trim-galore:0.6.6--0'
    }
    withName: fastq_screen {
      container = 'quay.io/biocontainers/fastq-screen:0.14.0--pl5262hdfd78af_1'
    }
    withName: unicycler {
      container = 'quay.io/biocontainers/unicycler:0.4.4--py36h61628e2_4'
    }
}

singularity.enabled = true
singularity.cacheDir = "$HOME/cache/"
